.loaderWrapper {
  /* position: fixed; */

  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #54abd1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
