#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;

  padding: calc(2 * var(--pad));
  font-size: calc(0.625vmin + 0.75rem);

  background-color: #efefef;
}

.list {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}