#root {
  width: 100%;
}
.app-wrapper {
  display: block;
}

.app-wrapper-with-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app {
  font-size: calc(0.625vmin + 0.75rem);
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: relative;
  background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.errorBoundary {
  text-align: center;
}
